.extra-baggage {
  background: #FFFFFF;
  border: 1px solid rgba(1, 4, 0, 0.5);
  border-radius: var(--radius);
  padding: rem(32) rem(24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(16);
  width: 100%;
  height: rem(151);
  box-sizing: border-box;

  &__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: rem(20);
    line-height: 1.5;
    color: #010400;
    margin: 0;
  }

  &__action {
    display: flex;
		gap: rem(10);
    justify-content: flex-start;
  }

  &__button {
    background: transparent;
    border: 1px solid #5E4AE3;
    border-radius: var(--radius);
    padding: rem(10) rem(25);
    color: #010400;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: rem(14);
    line-height: 1.5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(10);

    @include hover {
      background: rgba(94, 74, 227, 0.1);
    }
    &:active {
      background: rgba(94, 74, 227, 0.2);
    }
  }
}

.extra-baggage__button.remove {
	border: 1px solid #FF6060;
	color: #FF6060;
	padding: rem(10) rem(10);
	@include hover {
		background: rgba(255, 96, 96, 0.1);
	}
	&:active {
		background: rgba(255, 96, 96, 0.2);
	}
}