.home {
	background-image: url('../../shared/images/home-bg.png');

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  background-color: #000;
  min-height: 100vh;
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: rem(96) rem(285);
		&-title {
			@include fluid-text(82, 48);
			font-weight: 700;
			text-align: center;
			margin-bottom: rem(16);
			line-height: 1.2;
			white-space: nowrap;
			color: var(--color-white);
		}
		&-subtitle {
			@include fluid-text(28, 22);
			font-weight: 400;
			text-align: center;
			margin-bottom: rem(60);
			line-height: 1.2;
			color: var(--color-white);
		}
		&-ticket-search-form {
			width: 100%;
			padding-inline: rem(338);
			@include laptop {
				padding-inline: rem(112);
			}
			@include tablet {
				padding-inline: rem(16);
			}
		}

		@include laptop {
			padding: rem(64) rem(285);
		}
	}
}