@use 'mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #F5F5F5;
  line-height: 1.6;
}


.container {
  max-width: rem(640);
  margin: 0 auto;
  padding-top: rem(32);
  padding-bottom: rem(128);
}

// Утилитарные классы
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}